<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorten URL</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form id="urlForm" action="/process-url" method="POST">
            <input type="text" id="urlInput" name="url" placeholder="Enter URL" required>
            <button type="submit">Shorten</button>
        </form>

        {{if .}}
        <h2>Shortened URL:</h2>
        <a id="shortUrl" href="{{.}}" target="_blank">{{.}}</a>
        {{end}}
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
